/* You can add global styles to this file, and also import other style files */
@import url('~bootstrap/dist/css/bootstrap.min.css');

.container {
    width: 900px;
    margin: auto;
}
.center{
    text-align: center;
}